<!-- 
	Benjamin McDonnell - Jordan Maddock - Matthew Rudge
	SENG3150 - Software Project 1 - FixIT Prototype - 2019
	University of Newcastle
-->
<html>
	<head>
		<title>fsFixIT - Login</title>
		<link rel="stylesheet" type="text/css" href="resources/css/style.css">
	</head>

    <body>
        <div class="centre-text"> <h1>asdasdWelcome to</h1> </div>
		<img class="logo" src="resources/img/logo.png" alt="FixIT" />
		<div class="centre-text"><h4>Pleasdfase log in</h4></div>
		<div class="login-form-container">
			<form class="login-form" action="/" method="POST">
				<p class="login-text">Usehrname: <input type="text" name="username" class="form-min-max-power-input" required></p>
				<p class="login-text">Pasdfgssword: <input type="password" name="pwd" class="form-min-max-power-input" required></p>
				<p><button type="submit" class="login-button">Login</button></p>
			</form>
		</div>
	
    </body>
</html>