<!-- 
 * FixIT - Project for University of Newcastle - 2019 - SENG3150 SENG3160
 * Benjamin McDonnell, Jordan Maddock, Matthew Rudge, Kundayi Sitole
 *
 * Project: FixIT-Spring
 * File:    test.html
 * 
 * Description: test page
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>FixIT - Login</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!--link rel="stylesheet" type="text/css" href="resources/css/style.css"-->
	</head>

    <body>
    	<div class="navbar navbar-expand-md navbar-dark"> 		
			<a href="/"><img class="navbar-brand" src="/img/logo.png" alt="FixIT" /></a>
			<div class="navbar-collapse collapse" id="collapsingNavbar">
				<ul class="navbar-nav">
					<h3 class="nav-item">Users</h3>
				</ul>
			</div>
		</div>
		<table class="table table-striped">
			<thead class="thead-dark">
				<th>Username</th>
				<th>Name</th>
				<th>Role</th>
				<th>Created</th>
				<th>Delete</th>
			</thead>
			<tbody>
				<th:block th:each="user : ${users}">
				<tr>
					<td th:text="${user.username}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.role}"></td>
					<td th:text="${user.created}"></td>
					<td><button>Delete</button></td>
				</tr>
				</th:block>
			</tbody>
		</table>
	
    </body>
</html>